:root{
    --first-color: #079903;
    --second-color: #72C865;
    --body-color: #ffffff;
    --black: #000000;
    --gray1: #888888;
}

@font-face {
	font-family: 'Pretendard Variable';
	font-weight: 45 920;
	font-style: normal;
	font-display: swap;
	src: url('../Data/PretendardVariable.woff2') format('woff2-variations');
}

/* 폰트 적용 */
h1, h2, h3, h4, h5, h6, p, li, span, div, td {
    font-family: 'Pretendard Variable';
}


*{
    margin: 0;
    padding: 0;
}

a {
    color: var(--black);
    text-decoration-line: none;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

