#LoginForm {
    width: 100vw;
    height: calc(100vh - 100px);
    margin-top: 100px;
    background-color: var(--body-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.LoginForm__inner {
    width: 700px;
    height: 600px;
    margin-top: 36px;
    border: 2px solid var(--first-color);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__con {
    margin-top: 60px;
}

.form__con p {
    font-size: 24px;
}

.form__con input, .loginBtn {
    width: 486px;
}


.form__con input {
    width: 486px;
    height: 40px;
    margin-top: 22px;
    border-radius: 10px;
    border: solid 1px var(--gray1);
    background-size: 27px;
    padding-left: 40px;
}

.form__con:nth-child(1) > input {
    background: url(../images/ic_round-mail.svg) no-repeat 5px center;
    background-position: 13px 10px;
}

.form__con:nth-child(2) > input {
    background: url(../images/gridicons_lock.svg) no-repeat 5px center;
    padding-left: 40px;
}


.loginBtn {
    margin-top: 111px;
    background-color: var(--first-color);
    width: 525px;
    height: 52px;
    border: none;
    border-radius: 8px;
    color: #FFFFFF;
}

input::placeholder {
    color: #E1E1E1;
}

.pwFind {
    margin-top: 24px;
    color: #A8A8A8;
}

.notMember {
    color: #A8A8A8;
    margin-top: 131px;
}

.notMember > span {
    color: var(--first-color);
}